body {
    background-color: #eae6df;
    margin:0px;
    padding:0px;
}

.container-right{
    width: 360px;
    margin-left: 622px;
    margin-top: 80px;
    /* margin: auto; */
    height: 404px;
    border: 1px solid #d4c8be;
    border-radius: 19px;
    background-color: #ffffff;
    position: fixed;
}

.container-left{
    width: 355px;
    margin-left: 288px;
    margin-top: 32px;
    /* margin: auto; */
    height: 404px;
    border: 1px solid #d4c8be;
    border-radius: 19px;
    background-color: #d4c8be;
    position: fixed;
}

.form-sign-in .text{
    position:fixed;
    width: 97px;
    height: 30px;
    left: 766px;
    top: 130px;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    letter-spacing: 0.02em;

    color: #000000;
}

.form-sign-in span{
    font-size: small;
    font-weight:500;
}

#email{
    position: absolute;
    width: 319px;
    height: 68px;
    left: 706px;
    top: 191px;
}

#password{
    position: absolute;
    width: 319px;
    height: 68px;
    left: 706px;
    top: 250px;
}

#regist {
    position: absolute;
    left: 722px;
    top: 433px;
}
